APP_NAME=Autonomous SOC Agent
APP_ENV=development
DEBUG=true

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

DATABASE_URL=sqlite:///./alerts.db

JWT_SECRET=CHANGE_THIS_SECRET
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60